{% extends 'layout.html.twig' %}

{% block body %}

    <!-- Main -->
    <div id="main" class="alt">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>Nouvelle navigation</h1>
                </header>
            </div>
        </section>

    </div>

    <!-- Contact -->
    {{ form_start(edit_form) }}
    <section id="contact">
        <div class="inner">
            <section>

                <div class="fields">
                    <div class="field half">
                        <label for="name">Nom de l'entité :</label>
                        {{ form_widget(edit_form.name) }}
                        {{ form_errors(edit_form.name) }}
                    </div>
                    <div class="field half">
                        <label for="email">Description :</label>
                        {{ form_widget(edit_form.description) }}
                        {{ form_errors(edit_form.description) }}
                    </div>
                    <div class="field">
                        <label for="message">A partir de :</label>
                        {{ form_widget(edit_form.price) }}
                        {{ form_errors(edit_form.price) }}
                    </div>
                    <div class="field">
                        <label for="message">Délai :</label>
                        {{ form_widget(edit_form.time) }}
                        {{ form_errors(edit_form.time) }}
                    </div>
                </div>

            </section>

            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon alt"></span>
                        <label for="message">Image :</label>
                        {#{{ form(form.media, { 'attr': {'onchange': 'readURL(this);'} }) }}#}
                        <input id="{{ edit_form.media.vars.id }}_file"
                               name="{{ edit_form.media.vars.full_name }}[file]"
                               type="file" onchange="readURL(this)">
                        {{ form_errors(edit_form.media) }}
                        {% do edit_form.media.setRendered %}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <img class="preview" src="{{ asset('assets/images/local/preview/pic04.jpg') }}" alt="Preview" title="Preview" />
                    </div>
                </section>
                <section>
                    <ul class="actions">
                        <li><input type="submit" value="Enregistrer" class="primary" /></li>
                        <li><input type="reset" value="Clear" /></li>
                        {{ form_end(edit_form) }}
                        {{ form_start(delete_form) }}
                        <li><input type="submit" value="Delete" class=""></li>
                        {{ form_end(delete_form) }}
                    </ul>
                    <ul class="actions">
                        <li><a href="{{ path('navigation_index') }}" class="button fit">Back to the list</a></li>
                    </ul>

                </section>
            </section>

        </div>
    </section>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.preview')
                        .attr('src', e.target.result)
                        .height(100)
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

{% endblock %}