{% extends 'base.html.twig' %}

{% block header %}

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <a href="{{ path('homepage') }}" class="logo">
                <strong>DimitriBottier</strong>
                <span>paris</span>
            </a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li><a href="{{ path('app_actuality') }}" class="link">Actualité</a></li>
                <li><a href="{{ path('app_tailored_galery') }}" class="link">Sur Mesure</a></li>
                <li><a href="{{ path('app_line_galery') }}" class="link">Ligne Bottier</a></li>
                <li><a href="{{ path('app_manufacturing') }}" class="link">Fabrication</a></li>
                <li><a href="{{ path('app_left_over') }}" class="link">Laissés pour Compte</a></li>
            </ul>
            <ul class="actions stacked">
                <li><a href="{{ path('app_contact') }}" class="button primary fit">Contact</a></li>
            </ul>
        </nav>

        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>DimitriBottier</h1>
                </header>
                <div class="content">
                    <p>Dimitri Gomez, maître-bottier, fabrique entièrement à la main des modèles sur mesure destinés aux
                        amateurs les plus exigeants.
                        Dimitri officie au sein même de la boutique Crockett & Jones, sous le regard des passionnés qui
                        le considèrent comme un des plus talentueux bottiers au monde.
                        Sa clientèle internationale ne s'y trompe pas et lui confie ses rêves de chaussures les plus fous.
                        A charge pour Dimitri de les transformer en chef d’œuvre d'élégance et de beauté.
                        Proposant un choix de formes et de patronages très étendu, de peausseries rares issues des meilleures
                        tanneries, Dimitri Gomez conçoit des pièces uniques répondant aux désirs de chacun.
                        Vous trouverez sur ce site la présentation de ses modèles en mesure et en demi-mesure, l'explication détaillée
                        de sa technique de fabrication, qu'il est aujourd'hui l'un des derniers à utiliser ainsi que ses dernières créations.
                        Bienvenue dans l'univers de la botterie d'exception</p>
                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">Commencer la visite</a></li>
                    </ul>
                </div>
            </div>
        </section>

{% endblock %}

{% block footer %}

    <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon alt"><span class="label">Twitter</span><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/Dimitri-Gomez-Bottier-287965061251077/" class="icon alt" target="_blank"><span class="label">Facebook</span><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="icon alt"><span class="label">Instagram</span><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="icon alt"><span class="label">LinkedIn</span><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
                <ul class="copyright">
                    <li><a href="{{ path('app_legal_notice') }}">Mentions légales</a></li>
                    <li><a href="http://www.groupe-tse.fr/ecotoner/">&copy;</a>Tous droits réservés - KeepConnection</li>
                    <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>
    </div>

{% endblock %}