{% extends 'layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>DimitriBottier</h1>
                </header>
                <div class="content">
                    <p>Dimitri Gomez, maître-bottier, fabrique entièrement à la main des modèles sur mesure destinés aux
                        amateurs les plus exigeants.
                        Dimitri officie au sein même de la boutique Crockett & Jones, sous le regard des passionnés qui
                        le considèrent comme un des plus talentueux bottiers au monde.
                        Sa clientèle internationale ne s'y trompe pas et lui confie ses rêves de chaussures les plus fous.
                        A charge pour Dimitri de les transformer en chef d’œuvre d'élégance et de beauté.
                        Proposant un choix de formes et de patronages très étendu, de peausseries rares issues des meilleures
                        tanneries, Dimitri Gomez conçoit des pièces uniques répondant aux désirs de chacun.
                        Vous trouverez sur ce site la présentation de ses modèles en mesure et en demi-mesure, l'explication détaillée
                        de sa technique de fabrication, qu'il est aujourd'hui l'un des derniers à utiliser ainsi que ses dernières créations.
                        Bienvenue dans l'univers de la botterie d'exception</p>
                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">Get Started</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section id="one" class="tiles">

                {% for navigation in navigations %}
                <article>
                    <span class="image">
                        <img src="{{ navigation.media.path }}" alt="{{ navigation.media.name }}" />
                    </span>
                    <header class="major">
                        <h3><a href="{{ path('navigation_index', { 'id': navigation.id }) }}" class="link">{{ navigation.name }}</a></h3>
                        <p>{{ navigation.description }}</p>
                    </header>
                </article>
                {% endfor %}

            </section>

            <!-- Two -->
            {#<section id="two">#}
                {#<div class="inner">#}
                    {#<header class="major">#}
                        {#<h2>Massa libero</h2>#}
                    {#</header>#}
                    {#<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>#}
                    {#<ul class="actions">#}
                        {#<li><a href="landing.html" class="button next">Get Started</a></li>#}
                    {#</ul>#}
                {#</div>#}
            {#</section>#}

        </div>

        <!-- Contact -->
        {#<section id="contact">#}
            {#<div class="inner">#}
                {#<section>#}
                    {#<form method="post" action="#">#}
                        {#<div class="fields">#}
                            {#<div class="field half">#}
                                {#<label for="name">Name</label>#}
                                {#<input type="text" name="name" id="name" />#}
                            {#</div>#}
                            {#<div class="field half">#}
                                {#<label for="email">Email</label>#}
                                {#<input type="text" name="email" id="email" />#}
                            {#</div>#}
                            {#<div class="field">#}
                                {#<label for="message">Message</label>#}
                                {#<textarea name="message" id="message" rows="6"></textarea>#}
                            {#</div>#}
                        {#</div>#}
                        {#<ul class="actions">#}
                            {#<li><input type="submit" value="Send Message" class="primary" /></li>#}
                            {#<li><input type="reset" value="Clear" /></li>#}
                        {#</ul>#}
                    {#</form>#}
                {#</section>#}
                {#<section class="split">#}
                    {#<section>#}
                        {#<div class="contact-method">#}
                            {#<span class="icon alt fa-envelope"></span>#}
                            {#<h3>Email</h3>#}
                            {#<a href="#">information@untitled.tld</a>#}
                        {#</div>#}
                    {#</section>#}
                    {#<section>#}
                        {#<div class="contact-method">#}
                            {#<span class="icon alt fa-phone"></span>#}
                            {#<h3>Phone</h3>#}
                            {#<span>(000) 000-0000 x12387</span>#}
                        {#</div>#}
                    {#</section>#}
                    {#<section>#}
                        {#<div class="contact-method">#}
                            {#<span class="icon alt fa-home"></span>#}
                            {#<h3>Address</h3>#}
                            {#<span>1234 Somewhere Road #5432<br />#}
										{#Nashville, TN 00000<br />#}
										{#United States of America</span>#}
                        {#</div>#}
                    {#</section>#}
                {#</section>#}
            {#</div>#}
        {#</section>#}

{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
