{% extends 'layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

        <!-- Main -->
        <div id="main">
            <!-- One -->
            <section id="one" class="tiles">
                <article>
                    <span class="image">
                        <img src="{{ asset("assets/images/local/actuality/nav.jpg") }}" alt="actualities" />
                    </span>
                    <header class="major">
                        <h3><a href="{{ path('app_actuality') }}" class="link">Actualité</a></h3>
                    </header>
                </article>

                <article>
                    <span class="image">
                        <img src="{{ asset("assets/images/local/tailored/tailored.jpg") }}" alt="sur_mesure" />
                    </span>
                    <header class="major">
                        <h3><a href="{{ path('app_tailored_galery') }}" class="link">Sur Mesure</a></h3>
                        <p class="decal-left">La "Mesure"! L'aboutissement d'un parcours, l'ultime échelon sur l'échelle de valeurs des beaux souliers.</p>
                        <p class="decal-left">La mesure donne libre cours à votre imagination, à vos envies les plus folles. De la forme à monter qui vous sera exclusive,
                            au choix des peausseries utilisées, en passant par le "dessin" de la tige, tout tend à faire de votre soulier une pièce unique,
                            et précieuse. Précieuse surtout par la qualité et la précision avec lesquelles elle sera exécutée.
                            Chaque chaussure sur mesure reflète la quintessence d'un art, la maîtrise de l'artisan, enfin la profonde fierté
                            d'exercer un métier rare et noble.</p>
                        <p class="decal-left"> Prix : A partir de 3500€.<br>
                            Délai : De 4 à 6 mois.</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="{{ asset("assets/images/local/line/line.jpg") }}" alt="ligne_bottier" />
                    </span>
                    <header class="major">
                        <h3><a href="{{ path('app_line_galery') }}" class="link">Ligne Bottier</a></h3>
                        <p class="decal-left">La ligne Bottier est une demi-mesure au vrai sens du terme. Elle s'appuie sur deux parcs de formes,
                            l'une à bout rond, l'autre à bout carré dôté d'un méplat atténué. Sur ces deux formes, déclinées en quatre largeurs,
                            est disponible un nombre conséquent de modèles dont les patronages ont été mis au point au préalable.</p>
                        <p class="decal-left">C'est la grande différence avec la Mesure. Hormis ces détails, le piquage de la tige et
                            le montage du soulier sont rigoureusement les mêmes qu'en sur mesure. La ligne Bottier peut fournir à l'amateur
                            de beaux souliers l'étape parfois nécéssaire à une entrée en douceur dans le monde de la mesure..</p>
                        <p class="decal-left"> Prix : A partir de 2000€.<br>
                            Délai : De 2 à 3 mois.</p>
                    </header>
                </article>

                <article>
                    <span class="image">
                        <img src="{{ asset("assets/images/local/manufacturing/manufac1.jpg") }}" alt="fabrication d une chaussure" />
                    </span>
                    <header class="major">
                        <h3><a href="{{ path('app_manufacturing') }}" class="link">Fabrication</a></h3>
                    </header>
                </article>

                <article>
                    <span class="image">
                        <img src="{{ asset("assets/images/local/uncollected/uncollected.jpg") }}" alt="facebook" />
                    </span>
                    <header class="major">
                        <h3><a href="{{ path('app_left_over') }}" class="link">Laissés Pour Compte</a></h3>
                        <p>Le sur-mesure se devant d'être très précis, au fil du temps certaines paires de souliers
                            nécessitent d'être refaîtes afin de satisfaire le client à 100%. Les premières paires
                            sont donc mises en vente. On les appelle des "laissés pour compte".
                            Elles sont disponibles pour essayage chez Crockett & Jones, au 14 rue Chauveau-Lagarde à Paris.</p>
                    </header>
                </article>

                <article>
                    <span class="image">
                        <img src="{{ asset("assets/images/local/actuality/nav.jpg") }}" alt="facebook" />
                    </span>
                    <header class="major">
                        <h3><a href="{{ path('app_contact') }}" class="link">Contact</a></h3>
                    </header>
                </article>
            </section>

{% endblock %}