{% extends 'base.html.twig' %}

{% block title %}Cette saison{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/stylesheet/multiverse/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/stylesheet/multiverse/noscript.css') }}" />
{% endblock %}

{% block body %}

    <div id="wrapper">

        <header id="header">
            <h1><a href="https://html5up.net/"><strong>Multiverse</strong> by HTML5 UP</a></h1>
            <nav class="ul-center">
                <ul class="">
                    <li><a href="{{ path('app_manufacturing')}}" class="">Retour</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work01.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work01.jpg') }}" alt="1- Montage d'un soulier mesure" /></a>
                <h2>1- Montage d'un soulier mesure</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="2- Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work03.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work03.jpg') }}" alt="3- Talcage de la forme à monter" /></a>
                <h2>3- Talcage de la forme à monter</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work04.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work04.jpg') }}" alt="4- Mise en place de la tige sur forme" /></a>
                <h2>4- Mise en place de la tige sur formet</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work05.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work05.jpg') }}" alt="5- Contrôle de l'alignement" /></a>
                <h2>5- Contrôle de l'alignement</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work06.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work06.jpg') }}" alt="6- Contrôle des mesures" /></a>
                <h2>6- Contrôle des mesure</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work07.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work07.jpg') }}" alt="7- Correction de l'alignement de la tige" /></a>
                <h2>7- Correction de l'alignement de la tige</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work08.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work08.jpg') }}" alt="8- Préparation de la colle de montaget" /></a>
                <h2>8- Préparation de la colle de montage</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work09.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work09.jpg') }}" alt="9- Durcissement du contrefort 	" /></a>
                <h2>9- Durcissement du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work10.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work10.jpg') }}" alt=" 10- Encollage du contrefort" /></a>
                <h2>10- Encollage du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work11.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work11.jpg') }}" alt="11- Encollage du contrefort" /></a>
                <h2>11- Encollage du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work12.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work12.jpg') }}" alt="12- Placement du contrefort" /></a>
                <h2>12- Placement du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work13.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work13.jpg') }}" alt="13- Ajustement du contrefor" /></a>
                <h2>13- Ajustement du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work14.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work14.jpg') }}" alt="14- Montage de la doublure" /></a>
                <h2>14- Montage de la doublure</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work15.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work15.jpg') }}" alt="15- Réencollage" /></a>
                <h2>15- Réencollage</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work16.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work16.jpg') }}" alt="16- Montage du contrefor" /></a>
                <h2>16- Montage du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work17.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work17.jpg') }}" alt="17- Montage de la peau" /></a>
                <h2>17- Montage de la peau</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work18.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work18.jpg') }}" alt="18- Montage de la peau (détail)" /></a>
                <h2>18- Montage de la peau (détail)</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work19.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work19.jpg') }}" alt="19- Montage arrière fini" /></a>
                <h2>19- Montage arrière fini</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work20.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work20.jpg') }}" alt="20- Coupe de peau" /></a>
                <h2>20- Coupe de peau</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work21.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work21.jpg') }}" alt="21- Rabattage des clous" /></a>
                <h2>21- Rabattage des clous</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work22.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work22.jpg') }}" alt="22- Vérification de l'alignement des clous" /></a>
                <h2>22- Vérification de l'alignement des clous</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work23.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work23.jpg') }}" alt="23- rabat des clous" /></a>
                <h2>23- rabat des clous</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work24.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work24.jpg') }}" alt="24- mesure du poistionnement du bout dur" /></a>
                <h2>24- mesure du poistionnement du bout dur</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work25.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work25.jpg') }}" alt="25- Tracé du bout dur sur la doublure" /></a>
                <h2>25- Tracé du bout dur sur la doublure</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work26.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work26.jpg') }}" alt="26- collage du bout dur avant montaget" /></a>
                <h2>26- collage du bout dur avant montage</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work27.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work27.jpg') }}" alt="27- Montage du bout dur avec les pointes" /></a>
                <h2>27- Montage du bout dur avec les pointes</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work28.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work28.jpg') }}" alt="28- Montage du bout du" /></a>
                <h2>28- Montage du bout dur</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work29.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work29.jpg') }}" alt="29- Montage du bout dur (suite)" /></a>
                <h2>29- Montage du bout dur (suite)</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work30.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work30.jpg') }}" alt="30- flammage afin de retendre la peau" /></a>
                <h2>30- flammage afin de retendre la peau</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work31.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work31.jpg') }}" alt="31- Humidification de la première" /></a>
                <h2>31- Humidification de la première</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work32.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work32.jpg') }}" alt="32- contrôle des deux quartiers arrière" /></a>
                <h2>32- contrôle des deux quartiers arrière</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work33.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work33.jpg') }}" alt="33- Traçage au crayon argent..." /></a>
                <h2>33- Traçage au crayon argent...</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work34.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work34.jpg') }}" alt="34- préparation de la trépointe (rainette)" /></a>
                <h2>34- préparation de la trépointe (rainette)</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work35.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work35.jpg') }}" alt="35- préparation de la trépointe (biseau)" /></a>
                <h2>35- préparation de la trépointe (biseau)</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work36.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work36.jpg') }}" alt="36- Commencement de la pose de la trépoi" /></a>
                <h2>36- Commencement de la pose de la trépoi</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work37.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work37.jpg') }}" alt="37- Passage en trépointe" /></a>
                <h2>37- Passage en trépointe</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work38.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work38.jpg') }}" alt="38- passage en trépointe (suite)" /></a>
                <h2>38- passage en trépointe (suite)</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work39.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work39.jpg') }}" alt="39- passage en trépointe (suite)" /></a>
                <h2>39- passage en trépointe (suite)</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work40.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work40.jpg') }}" alt="40- Serrage d'un des noeuds" /></a>
                <h2>40- Serrage d'un des noeuds</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work41.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work41.jpg') }}" alt="41- Serrage d'un des noeuds (suite)" /></a>
                <h2>41- Serrage d'un des noeuds (suite)</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work42.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work42.jpg') }}" alt="42- avant trou avec alène..." /></a>
                <h2>42- avant trou avec alène...</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work43.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work43.jpg') }}" alt="43- Passage de l'os sur la trépointe" /></a>
                <h2>43- Passage de l'os sur la trépointe</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work44.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work44.jpg') }}" alt="44- Passage du stick en buis" /></a>
                <h2>44- Passage du stick en buis</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work45.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work45.jpg') }}" alt="45- Rafraichissement du surplus..." /></a>
                <h2>45- Rafraichissement du surplus...</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work46.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work46.jpg') }}" alt="46- Resserage des coutures..." /></a>
                <h2>46- Resserage des coutures...</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work47.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work47.jpg') }}" alt="47- Couche point, remplissage et cambrio" /></a>
                <h2>47- Couche point, remplissage et cambrio</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work48.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work48.jpg') }}" alt="48- Pose de la semelle" /></a>
                <h2>48- Pose de la semelle</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work49.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work49.jpg') }}" alt="49- Pose à l'aide du marteau" /></a>
                <h2>49- Pose à l'aide du marteau</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work50.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work50.jpg') }}" alt="50- Redresser la trépointe..." /></a>
                <h2>50- Redresser la trépointe..</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work51.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work51.jpg') }}" alt="51- Brochage du surplus de semelle" /></a>
                <h2>51- Brochage du surplus de semelle</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work52.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work52.jpg') }}" alt="52- Brochage de l'arrière" /></a>
                <h2>52- Brochage de l'arrière</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work53.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work53.jpg') }}" alt="53- Redresser la trépointe" /></a>
                <h2>53- Redresser la trépointe</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work54.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work54.jpg') }}" alt="54- Redresser à l'aide..." /></a>
                <h2>54- Redresser à l'aide... d'un outil spécial: un ébauroir</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work55.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work55.jpg') }}" alt="55- Carder la trépointe" /></a>
                <h2>55- Carder la trépointe</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work56.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work56.jpg') }}" alt="56- Brochage" /></a>
                <h2>56- Brochage</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" class="image"><img src="{{ asset('assets/images/local/manufacturing/working/work02.jpg') }}" alt="Pose du contrefort" /></a>
                <h2>2- Pose du contrefort</h2>
            </article>
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/javascript/multiverse/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/jquery.poptrox.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/browser.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/breakpoints.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/util.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/main.js') }}"></script>
{% endblock %}