{% extends 'layout.html.twig' %}

{% block body %}
    <section class="one">
        <div class="inner">
            <h1>Ajouter une image</h1>

            {{ form_start(form) }}
            {{ form_widget(form.file) }}
            {{ form_widget(form.page, {'attr': {'class': 'Select-option'}}) }}
            <input type="submit" value="Valider" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('homepage') }}">Retour à l'accueil</a>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}