{% extends 'base.html.twig' %}

{% block title %}Cette saison{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/stylesheet/multiverse/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/stylesheet/multiverse/noscript.css') }}" />
{% endblock %}

{% block body %}

    <div id="wrapper">

        <header id="header">
            <h1><a href="https://html5up.net/"><strong>Multiverse</strong> by HTML5 UP</a></h1>
            <nav class="ul-center">
                <ul class="">
                    <li><a href="{{ path('app_actuality')}}" class="">Retour</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic1.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic1.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic2.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic2.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic3.png') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic3.png') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic4.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic4.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic5.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic5.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic6.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic6.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic7.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic7.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic8.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic8.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic9.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic9.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic10.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic10.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic11.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic11.jpg') }}" alt="actu2" /></a>
                {#                <h2>Magna feugiat lorem</h2>#}
                {#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic12.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic12.jpg') }}" alt="actu2" /></a>
                {#                <h2>Magna feugiat lorem</h2>#}
                {#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic13.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic13.jpg') }}" alt="actu2" /></a>
                {#                <h2>Magna feugiat lorem</h2>#}
                {#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/exotic/exotic14.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/exotic/exotic14.jpg') }}" alt="actu2" /></a>
                {#                <h2>Magna feugiat lorem</h2>#}
                {#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/javascript/multiverse/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/jquery.poptrox.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/browser.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/breakpoints.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/util.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/main.js') }}"></script>
{% endblock %}