{% extends 'base.html.twig' %}

{% block title %}Cette saison{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/stylesheet/multiverse/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/stylesheet/multiverse/noscript.css') }}" />

    <style>
        .inspiration-size{
            width : 50%;
            height: 50%;
        }
    </style>
{% endblock %}

{% block body %}

     <div id="wrapper">

        <header id="header">
            <h1><a href="https://html5up.net/"><strong>Multiverse</strong> by HTML5 UP</a></h1>
            <nav class="ul-center">
                <ul class="">
                    <li><a href="{{ path('app_actuality')}}" class="">Retour</a></li>
                </ul>
            </nav>
        </header>

        <section id="one">
            <div class="inner align-center">
                <div>
                    <span class="image">
                    <img src="{{ asset("assets/images/local/actuality/inspiration/inspiration1.jpg") }}" alt="actualities" class="inspiration-size" />
                </span>
                </div>
            </div>
        </section>

     </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v5.0"></script>
{% endblock %}