{% extends 'base.html.twig' %}

{% block title %}Cette saison{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/stylesheet/multiverse/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/stylesheet/multiverse/noscript.css') }}" />
    <style>
        .leather-size{
            width : 50% !important;
        }
    </style>
{% endblock %}

{% block body %}

    <div id="wrapper">

        <header id="header">
            <h1><a href="https://html5up.net/"><strong>Multiverse</strong> by HTML5 UP</a></h1>
            <nav class="ul-center">
                <ul class="">
                    <li><a href="{{ path('app_actuality')}}" class="">Retour</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">
            <article class="thumb leather-size">
                <a href="{{ asset('assets/images/local/actuality/leatherwork/leatherwork1.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/leatherwork/leatherwork1.jpg') }}" alt="actu2" /></a>
                <h2>Peausserie: Crocodile</h2>
                <p>De sublimes peausseries de crocodiles viennent de m'être livrées.
                    La catastrophe qui à touché la Louisianne, où sont localisées les
                    principales fermes d'élevage, risque de créer une inflation importante
                    sur les très belles peaux. J'ai donc anticipé un stock assurant six
                    mois de production. Je peux conserver des peaux du même tannage pour
                    accorder vos souliers avec vos accessoires de maroquinerie.</p>
            </article>
            <article class="thumb leather-size">
                <a href="{{ asset('assets/images/local/actuality/leatherwork/leatherwork2.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/leatherwork/leatherwork2.jpg') }}" alt="actu2" /></a>
                <h2>Peausserie: buffle d'eau</h2>
                <p>Il reste encore de quoi faire quelques paires en buffle d'eau,
                    cuir épais (force 14) au grainage si particulier et à la souplesse
                    incroyable, qui est particluièrement adapté aux modèles sport.
                    Disponible en cinq coloris de base (vert, marron clair, tête de nègre,
                    orange et rouge), cette peau fonce lors des mouillages successifs nécessaires
                    au montage de la tige, ce qui lui confère des teintes d'une profondeur et
                    d'une chaleur très intenses. Le orange en particulier, tend vers une couleur
                    "terre de sienne" unique, qui n'est pas reproductible avec une patine.</p>
            </article>
            <article class="thumb leather-size">
                <a href="{{ asset('assets/images/local/actuality/leatherwork/leatherwork4.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/leatherwork/leatherwork4.jpg') }}" alt="actu2" /></a>
                <h2>peausserie : éléphant</h2>
                <p>Il me reste des peaux d'éléphants dans leur couleur grise (teinte proche de
                    la peau au naturel) et dans un noir. L'aspect de la peau de ce pachyderme
                    (ce qui veut dire "peau épaisse") et très marqué (grain et crevasses) et
                    très souple, réservant son usage à des modèles sport.</p>
            </article>
            <article class="thumb leather-size">
                <a href="{{ asset('assets/images/local/actuality/leatherwork/leatherwork5.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/leatherwork/leatherwork5.jpg') }}" alt="actu2" /></a>
                <h2>Peausserie : requins</h2>
                <p>Je dispose actuellement de plusieurs coloris de peaux de requin pour réaliser
                    des éléments de souliers tels des garants par exemple, ou des accessoires.</p>
            </article>
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/javascript/multiverse/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/jquery.poptrox.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/browser.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/breakpoints.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/util.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/main.js') }}"></script>
{% endblock %}