{% extends 'base.html.twig' %}

{% block title %}Cette saison{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/stylesheet/multiverse/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/stylesheet/multiverse/noscript.css') }}" />
{% endblock %}

{% block body %}

    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="https://html5up.net/"><strong>Multiverse</strong> by HTML5 UP</a></h1>
            <nav>
                <ul>
                    <li><a href="{{ path('app_actuality')}}" class="">Retour</a></li>
                    <li><a href="{{ path('app_actuality_ncreation')}}r" class="">Nouvelles créations</a></li>
                    <li><a href="{{ path('app_actuality_pcreation')}}" class="">Précédentes creations</a></li>
                    <li><a href="{{ path('app_actuality_exotic')}}" class="">Exotiques</a></li>
                    <li><a href="{{ path('app_actuality_inspiration')}}" class="">Inspiration</a></li>
                    <li><a href="{{ path('app_actuality_leatherwork')}}" class="">Peausseries disponibles</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main">
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/saison/Actu1.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/saison/Actu1.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/saison/Actu2.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/saison/Actu2.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/saison/Actu3.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/saison/Actu3.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/saison/Actu4.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/saison/Actu4.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/saison/Actu5.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/saison/Actu5.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/saison/Actu6.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/saison/Actu6.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/saison/Actu7.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/saison/Actu7.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/saison/Actu8.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/saison/Actu8.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/saison/Actu9.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/saison/Actu9.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
            <article class="thumb">
                <a href="{{ asset('assets/images/local/actuality/saison/Actu10.jpg') }}" class="image"><img src="{{ asset('assets/images/local/actuality/saison/Actu10.jpg') }}" alt="actu2" /></a>
{#                <h2>Magna feugiat lorem</h2>#}
{#                <p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>#}
            </article>
        </div>

        <!-- Footer -->
{#        <footer id="footer" class="">#}
{#            <div class="inner">#}
{#                <div>#}
{#                    <p class="copyright">#}
{#                        &copy; Unttled. Design: <a href="http://html5up.net">HTML5 UP</a>.#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </footer>#}

    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/javascript/multiverse/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/multiverse/jquery.poptrox.min.js') }}"></script>
{#    <script src="{{ asset('assets/javascript/multiverse/browser.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/javascript/multiverse/breakpoints.min.js') }}"></script>#}
{#    <script src="{{ asset('assets/javascript/multiverse/util.js') }}"></script>#}
    <script src="{{ asset('assets/javascript/multiverse/main.js') }}"></script>
{% endblock %}